pandas 
requests 
sentence_transformers
chromadb
litellm  
mistralai 
nltk 
pandas 
plotly 
pydantic 
python-dotenv 
scikit-learn 
sentence-transformers 
streamlit 
tiktoken 
tqdm 
textblob-fr 
wordcloud 
gensim 
transformers 
bertopic 
nrclex 
selenium
undetected_chromedriver
folium
streamlit_folium
sqlalchemy
Word2Vec